<html>
  <body>
    {%if name %}
    <h1>test world {{name}}</h1>
    {% else %}
    <h1>test worlds</h1>
    {% endif %} {% comment %}
    <ul>
      {% for product in products %}
      <li>{{product.title}} {{product.unit_price}} {{product}}</li>
      {% endfor %}
    </ul>
    {% endcomment %} {% comment %}
    <ul>
      {% for order in orders %}
      <li>{{order.id}} {{order.customer.first_name}} {{order}}</li>
      {% endfor %}
    </ul>
    {% endcomment %} {% comment %} {{result}} {% endcomment %}
  </body>
</html>
